{% extends './base.html' %}
{% block title %}Home{% endblock %}
 
{% block content %}


<div class="row">
  <div class="column side">
    <h1></h1>
  </div>
  <div class="column middle">
  <br>
  <h1>Adminstation contact</h1>
  <p align="left">AAA：317-278-9222</p>
  
  <h1>Lab contact</h1>
  <p align="left">BBB：317-278-9222</p>
  
  <h1>Other queries</h1>
  <p align="left">Y Liu：317-278-9222</p>
  
  <br>
  <br>
  </div>
  
  <div class="column side">
    <h1></h1>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>




{% endblock content %}