{% extends './base.html' %}
{% block title %}Home{% endblock %}
 
{% block content %}


<div class="row">
  <div class="column side">
    <h1></h1>
  </div>
  
    <div class="column middle">
	<h2>Principle Investigator</h2>
<table width="100%">
  <tr>
    <td align="left" style="padding-left: 10px;"><img src="/static/photo/photo1.jpg" alt="" style="width:220px; height:auto;"><br /><br>Donald Trump<br /> abc AT iu.edu<br><br></td>
    <td align="left" style="padding-left: 10px;"></td>
    <td align="left" style="padding-left: 10px;"></td>
  </tr></table>
  <h2>Staff</h2>
<table width="100%">
  <tr>
    <td align="left" style="padding-left: 10px;"><img src="/static/photo/photo2.jpg" alt="" style="width:220px; height:auto;"><br /><br>Mike Pence<br /> abc AT iu.edu<br><br><br></td>
    <td align="left" style="padding-left: 10px;"><img src="/static/photo/photo2.jpg" alt="" style="width:220px; height:auto;"><br /><br>Mike Pence<br /> abc AT iu.edu<br><br><br></td>
    <td align="left" style="padding-left: 10px;"><img src="/static/photo/photo2.jpg" alt="" style="width:220px; height:auto;"><br /><br>Mike Pence<br /> abc AT iu.edu<br><br><br></td>
  </tr></table>
  <h2>Graduate students</h2>
<table width="100%">
  <tr>
    <td align="left" style="padding-left: 10px;"><img src="/static/photo/photo3.jpg" alt="" style="width:220px; height:auto;"><br /><br>Chuanpeng Dong<br /> cpdong AT iu.edu<br><br><br></td>
    <td align="left" style="padding-left: 10px;"><img src="/static/photo/photo3.jpg" alt="" style="width:220px; height:auto;"><br /><br>Chuanpeng Dong<br /> cpdong AT iu.edu<br><br><br></td>
    <td align="left" style="padding-left: 10px;"><img src="/static/photo/photo3.jpg" alt="" style="width:220px; height:auto;"><br /><br>Chuanpeng Dong<br /> cpdong AT iu.edu<br><br><br></td>
  </tr></table>


    <hr>
    <h2>Alumni</h2>
	High School Student, Indiana University Laboratory Schools
    <br><br><br>
   </div>

  <div class="column side">
    <h1></h1>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




{% endblock content %}