{% extends './base.html' %}
{% block title %}Home{% endblock %}
 
{% block content %}


<div class="row">
  <div class="column side">
    <h1></h1>
  </div>
  <div class="column middle">
  
  <h1>Overview</h1>
  <p align="left">As a structural biology lab, we are interested in understanding human diseases at molecular level. In particular, we focus on macromolecules involved in protein aggregation and neurodegenerative diseases, such as Alzheimer’s and Parkinson’s diseases. We study not only the protein aggregates that cause the diseases, but also the proteins that are responsible for clearing the aggregates in a normal situation. We want to gain insights into the molecular architectures of the proteins, their complexes, and their aggregates so that the molecular mechanisms can be elucidated. Once we understand the mechanism, new approaches can be developed to tackle the diseases.</p>
  <br>
  
  <h1>Postdocs</h1>
  <p align="left">As a structural biology lab, we are interested in understanding human diseases at molecular level. In particular, we focus on macromolecules involved in protein aggregation and neurodegenerative diseases, such as Alzheimer’s and Parkinson’s diseases. We study not only the protein aggregates that cause the diseases, but also the proteins that are responsible for clearing the aggregates in a normal situation. We want to gain insights into the molecular architectures of the proteins, their complexes, and their aggregates so that the molecular mechanisms can be elucidated. Once we understand the mechanism, new approaches can be developed to tackle the diseases.</p>
  
  <br>
  
  <h1>Graduate students</h1>
  <p align="left">As a structural biology lab, we are interested in understanding human diseases at molecular level. In particular, we focus on macromolecules involved in protein aggregation and neurodegenerative diseases, such as Alzheimer’s and Parkinson’s diseases. We study not only the protein aggregates that cause the diseases, but also the proteins that are responsible for clearing the aggregates in a normal situation. We want to gain insights into the molecular architectures of the proteins, their complexes, and their aggregates so that the molecular mechanisms can be elucidated. Once we understand the mechanism, new approaches can be developed to tackle the diseases.</p>
  
  <br>
  
  <h1>Undergraduate students</h1>
  <p align="left">As a structural biology lab, we are interested in understanding human diseases at molecular level. In particular, we focus on macromolecules involved in protein aggregation and neurodegenerative diseases, such as Alzheimer’s and Parkinson’s diseases. We study not only the protein aggregates that cause the diseases, but also the proteins that are responsible for clearing the aggregates in a normal situation. We want to gain insights into the molecular architectures of the proteins, their complexes, and their aggregates so that the molecular mechanisms can be elucidated. Once we understand the mechanism, new approaches can be developed to tackle the diseases.</p>
  
  <br>
  </div>
  
  <div class="column side">
    <h1></h1>
  </div>
</div>

<br>
<br>
<br>
<br>





{% endblock content %}