{% extends 'base.html' %}
{% block title %}Home{% endblock %}
 
{% block content %}


<div class="row">
  <div class="column side">
    <h1></h1>
  </div>
  <div class="column middle">
  
  <h1>Selected Publications</h1>
  <p align="left">Architecture of the synaptotagmin-SNARE machinery for neuronal exocytosis.
Zhou Q, Lai Y*, Bacaj T*, Zhao M*, Lyubimov AY, Uervirojnangkoorn M, Zeldin OB, Brewster AS, Sauter NK, Cohen AE, Soltis SM, Alonso-Mori R, Chollet M, Lemke HT, Pfuetzner RA, Choi UB, Weis WI, Diao J, Südhof TC, Brunger AT.
Nature. (2015). 525(7567):62-7.</p>
  <br>
  
  <h1>All Publications</h1>
  <p align="left">The primed SNARE-complexin-synaptotagmin complex for neuronal exocytosis.
Zhou Q*, Zhou P*, Wang AL, Wu D, Zhao M, Südhof TC, Brunger AT.
Nature. (2017). 548(7668):420-5.</p>
  <p align="left">The primed SNARE-complexin-synaptotagmin complex for neuronal exocytosis.
Zhou Q*, Zhou P*, Wang AL, Wu D, Zhao M, Südhof TC, Brunger AT.
Nature. (2017). 548(7668):420-5.</p>
  <p align="left">The primed SNARE-complexin-synaptotagmin complex for neuronal exocytosis.
Zhou Q*, Zhou P*, Wang AL, Wu D, Zhao M, Südhof TC, Brunger AT.
Nature. (2017). 548(7668):420-5.</p>
  <p align="left">The primed SNARE-complexin-synaptotagmin complex for neuronal exocytosis.
Zhou Q*, Zhou P*, Wang AL, Wu D, Zhao M, Südhof TC, Brunger AT.
Nature. (2017). 548(7668):420-5.</p>
  
  <br>
  
  <br>
  </div>
  
  <div class="column side">
    <h1></h1>
  </div>
</div>

<br>
<br>
<br>
<br>





{% endblock content %}